//- //- ul.dogs>li.dog.dog$$*10 Emmet to create LI objects!



//- div.wrapper
//-     //- p.hello Hello!
//-     //- span#yo Yo!!
//-     - const upDog = dog.toUpperCase();
//-     //- p.hello Hello my dogs name is #{dog} here also possible to use directly toUpperCase() cause pug can handle js . !
//-     p.hello Hello my dogs name is #{upDog}
//-     //- img.dog(src="dog.jpg" alt="Dog") normal method
//-     //- following es6 method with js to insert dog attribute
//-     img.dog(src="dog.jpg" alt=`Dog ${dog}`) 

//- h2 
//-     | Hello
//-     em How are you?

extends layout

//- block header
//-     h2 yo!

block content
    h2 Sale ends in #{h.moment().endOf('day').fromNow()}
